extends layout.pug

block content
    div(class="me d-flex align-items-center")
      div(class="container text-center")
        h1.titular.c Elizabeth Russell
        br
        h2.texty.c 
          | CEO @ 
          a(href="http://www.mindset-app.com", target="_blank") Mindset
        h2.texty.c
          | Tech advisor @ 
          a(href="https://compost.perennial.city/", target="_blank") Perennial City
        h2.texty.c
          | Freelance mobile developer ( 
          i(class="fab fa-android") 
          |  & 
          i(class="fab fa-apple") 
          |  )
        h2.texty.c
          i(class="fas fa-motorcycle")
        br
        a(href="mailto:hi@elizr.us")
          div(class="basicBox") email hi@elizr.us
            svg(width="260", height="65", viewBox="0 0 260 65", xmlns="http://www.w3.org/2000/svg")
              rect(x='0',y='0',fill='none',width='260',height='65')

