extends layout.pug

block content
  h1.titular.c Elizabeth Russell
  h2.texty.c 
    | CEO @ 
    a(href="http://www.mindset-app.com") Mindset
  h2.texty.c
    | Technical Advisor @ 
    a(href="https://compost.perennial.city/") Perennial City
  h2.texty.c
    | Freelance developer: mobile and more!
  br
  a(href="mailto:hi@elizr.us")
    div(class="basicBox") email hi@elizr.us
      svg(width="260", height="65", viewBox="0 0 260 65", xmlns="http://www.w3.org/2000/svg")
        rect(x='0',y='0',fill='none',width='260',height='65')
