@import url(https://fonts.googleapis.com/css?family=Supermercado+One|Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Kalam);

.titular {
    font-family: 'Kalam', cursive;
}

.texty {
    font-family: 'Kalam', sans-serif;
}

.c {
    text-align: center;
}

h1 {
    font-size: 5rem;
    color: #3c3c22;
}

h2 {
    font-size: 1.15rem;
    line-height: 1.6rem;
    color: #3c3c22;
}

a {
    color: #86A397;
    text-decoration: none;
}
a:hover {
    color: #86A397;
    text-decoration:none;
}
.not-lightbox{
    background-color:#ffffff;
}
.me{
    height: 100vh;
}
.center-in-page{

  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: auto;
  align-items: center;
}

.lemon {
    background-image: url("./lemonpattern.jpg");
    background-size: 500px;
}

.semiopaque {
    background-color: rgba(255,255,255,0.7);
    padding-top: 30px;
    width: fit-content;
    padding-right: 40px;
    padding-left: 40px;
    outline-color: #86A397;
    outline-width:1px;
    outline-style:solid;
}


/*  Gratuitous css button animation */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.basicBox {
    width: 260px;
    height: 65px;
    margin: 15px auto;
    color: #86A397;
    font-family: 'Kalam', sans-serif;
    font-size: 1.15rem;
    line-height: 65px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

svg rect {
    fill: none;
    stroke: #86A397;
    stroke-width: 1;
}

.basicBox:hover svg rect {
    stroke: #86A397;
}

svg rect {
    stroke-dasharray: 400, 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.basicBox:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 100, 600;
    stroke-dashoffset: 298;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

